@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-red-50: #f4e8e9;
  --color-red-100: #ead1d3;
  --color-red-200: #d5a3a7;
  --color-red-400: #b55d64;
  --color-red-500: #a02f38;
  --color-red-600: #951822;
  --color-red-800: #590e14;
  --color-red-900: #2d070a;
  --color-pink-50: #fbf7f7;
  --color-blue-800: #141c3a;
  --color-black-800: #121212;
  --color-black-900: #1d1d1d;
}

.px-7vw {
  padding-left: 7vw;
  padding-right: 7vw;
}

.px-4vw {
  padding-left: 4vw;
  padding-right: 4vw;
}

a {
  cursor: pointer;
}

h1 {
  font-weight: 700;
  font-family: Archivo;
}

.background-animate {
  background-size: 400%;
  -webkit-animation: GradientAnimation 5s ease-in-out infinite;
  -moz-animation: GradientAnimation 5s ease-in-out infinite;
  animation: GradientAnimation 5s ease-in-out infinite;
}

@keyframes GradientAnimation {
  0% {
    background-position: 0% 75%;
  }
  50% {
    background-position: 100% 75%;
  }
  100% {
    background-position: 0% 75%;
  }
}
